<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<!--header-->
	<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>Login</h2>
		</div>
	</div>
	<!-- grow -->
<!--content-->
{% if msg %}
	{{msg}}
{% endif %}
<div class="container">
		<div class="account">
		<div class="account-pass">
		<div class="col-md-8 account-top">
			<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			<div> 	
				<span>Email</span>
				<input type="text" name="femail"> 
			</div>
			<div> 
				<span >Password</span>
				<input type="password" name = "fpass">
			</div>				
				<input type="submit" value="Login"> <br><br><br>

			
				
				<ul class="login-more p-t-190">
					<li class="m-b-8">
						<span class="txt1">
							If You Forgot<a href="{% url 'showemail' %}" class="txt2">
								Username / Password?
							</a>
						</span>

						
					</li>
					<div class="mx-auto" style="width: 200px;height: 10px;">
					</div>
				</ul>
				<a href="{% url 'register' %}" class="create">Create an Account</a>
			</form>
			
				
			<p>Note : If You have not an accout than first create an account.</p>
		</div>
		<div class="col-md-4 left-account ">
			<a href="{% url 'single' %}"><img class="img-responsive " src="{% static 'images/s1.jpg' %}" alt=""></a>
			<div class="five">
			<h2>25% </h2><span>discount</span>
		</div>
			
<div class="clearfix"> </div>
		</div>
	<div class="clearfix"> </div>
	</div>
	</div>

</div>

<!--//content-->
</body>
</html>
{% endblock %}