{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<style>

	</style>
</head>
<body>
<!--header-->
	<!-- grow -->
	<div class="grow">
		<div class="container">
			<h2>PVC FURNITURE PRODUCTS</h2>
		</div>
	</div>
	<!-- grow -->
<!--content-->
{% if msg %}
	{{msg}}
{% endif %}
<!-- 
<section id="schedule" class="section">

<div class="container">
		
	<div class="row">
		<div class="col-md-12">

		
			<div class="main-board wow fadeInDown" data-wow-delay="0.3s">

			<div class="main-board wow fadeInDown" data-wow-delay="0.3s">

				<ul class="nav" role="tablist">
					<li role="presentation"><a href=''>Abc<br><span> <br> </span></a></li>

					<li role="presentation"><a href=''>pqr<br><span> <br> </span></a></li>

					<li role="presentation"><a href=''>xyz<br><span> <br> </span></a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>
	

</div>
</section> -->

<!--//content-->
<div class="contact">
			
	<div class="container">
	<!-- <div class="contact-form"> -->

<div class="content-top">
	<h1>PVC FURNITURE PRODUCTS</h1>
	<div class="grid-in">
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>KITCHEN CABINET</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">KITCHEN CABIINET</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>WARDDROBE</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">WARDDROBE</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>TV CABINET</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">TV CABIINET</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>PVC DOORS</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">PVC DOORS</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>DESIGNER CEILLING</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">DESIGNER CEILLING</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>WALL PANELLING</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">WALL PANELLING</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>UPVC WINDOWS</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">UPVC WINDOWS</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
		<div class="col-md-3 grid-top simpleCart_shelfItem">
			<a href="#" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="">
				<div class="b-wrapper">
					<h3 class="b-animate b-from-left    b-delay03 ">
						<span>PVC PARTITION SYSTEM</span>
						
					</h3>
				</div>
			</a>
		<p><a href="#">PVC PARTITION SYSTEM</a></p>
		<!-- <a href="#" class="item_add"><p class="number item_price"><i> </i>$500.00</p></a> -->
		</div>
	  </div>	
	</div>
		
					
		</div>
		<div class="clearfix"> </div>
	</div>
	
</div>

</div>

</body>
</html>
{% endblock %}
